body {
  font-size: 16px;
  color: rgb(221,157,70);
  background-color: rgb(230,199,153);
  font-family: 'Lobster', cursive;
}

/** HEADER **/
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lobster', cursive;
  color: rgb(221,157,70);
  font-size: 1.5em;
  text-transform: uppercase;
  
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}


.tiles
{
  background-color: white;
  margin-top: 15px;
  color: #557c3e;
  border: 2px solid #503102;
  height: auto;
  font-size: 1.2em;
}

.tiles h2{
  background-color: rgb(77,9,6);
  color: rgb(221,157,70);
}

li
{
  
  color: rgb(221,157,70);
  font-size: 1.5em;
  padding: 5px;
}

#collapsable-nav
{
  
  color: rgb(221,157,70);
}
#header-nav
{
  border: 0px;
  border-radius: 0%;
  background-color: rgb(77,9,6);
}
a
{
  color: rgb(77,9,6);
}

h3{
  font-size: 2em;
}