body {
  font-size: 16px;
  color: #fff;
  
  font-family: 'Lobster', cursive;
}

/** HEADER **/
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lobster', cursive;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}


.tiles
{
  background-color: white;
  margin-top: 15px;
  color: #557c3e;
  border: 2px solid #503102;
  height: 300px;
}

.tiles h2{
  background-color: #723401;
  color: #fff;
}

li
{
  
  color: #fff;
  font-size: 1.5em;
  padding: 5px;
}

#collapsable-nav
{
  border: 2px solid black;
  color: #fff;
}
#header-nav
{
  background-color: #723401;
}
a
{
  color: #723401;
}
